<body bgcolor="#66ffff">
<center>
  <div style="display: flex; flex-direction: column; justify-content: center; height: 100vh;">
  <% if @countdown == 365 %>
  <h1 style='color:orange'> HAPPY BIRTHDAY </h1>
  <div>
    <img style='border: 5px dashed orange' src='https://thmbs.imgag.com/unsafe/adaptive-fit-in/450x360/https%3A%2F%2Fak.imgag.com%2Fproduct%2Fflash%2F3481445%2Fmaster.jpg'
    </div>
    <% else %>
<h1><%= "Your birthday will be in #{@countdown} days, #{@name.capitalize}" %></h1>
<% end %>
</div>
</center>
</body>
