<center>
<h1>Welcome to the birthday app!!</h1>




<h2>What is your name?</h2>
<form1 action="/" method="post">
    <input type="text" name="name_input">
</form1>

<h2>When is your birthday?</h2>
<h3>Please input your birthday:</h3>
  <h4><form2 action="/" method="post">
    Day:
      <input type="text" name="day_input">
    Month:
    <select name="mStr">
    	<option value="0">January</option>
    	<option value="1">February</option>
    	<option value="2">March</option>
    	<option value="3">April</option>
    	<option value="4">May</option>
    	<option value="5">June</option>
    	<option value="6">July</option>
    	<option value="7">August</option>
    	<option value="8">September</option>
    	<option value="9">October</option>
    	<option value="10">November</option>
    	<option value="11">December</option>
    </select>
  </form2></h4>
</center>
